body{
  background-color: powderblue;
}

.button{
  width: 70px;
  height: 60px;
  line-height: 50px;
  text-align: center;
  background: #eee;
  font-size: 20px;
}

.slider{
  width: 50px;
  height: 100px; 

}